{%extends 'base.html'%}
{%load static%}
{% block title %}18k Gold Plated | Aurora Cadence{% endblock %}
{% block content %}
<link rel="stylesheet" href="{%static 'css/index.css'%}">



<div class="container py-4">
    <h2 class="head-text text-start fw-bold my-5 pt-5">Anklets</h2>
    <div class="row justify-content-center">

        <div class="container-fluid mb-4">
            <div class="dropdown">
                <button class="btn btn-outline-light dropdown-toggle bg-dark text-white" type="button"
                    data-bs-toggle="dropdown" aria-expanded="false">
                    <i class="fas fa-filter me-2"></i>Filter & Sort
                </button>
                <form class="d-flex my-3" role="search">
                    <input class="form-control me-2 border rounded-2 shadow-sm" type="search"
                        placeholder="Search jewellery..." aria-label="Search">
                    <button class="btn btn-dark" type="submit">
                        <i class="fas fa-search"></i> Search
                    </button>
                </form>

                <div class="dropdown-menu p-4 shadow" style="min-width: 300px;">

                    <!-- Is Available Filter -->
                    <div class="mb-3">
                        <label class="form-label fw-bold">Is Available</label>
                        <select class="form-select" id="availabilityFilter">

                            <option value="yes">Yes</option>
                            <option value="no">No</option>
                        </select>
                    </div>

                    <!-- Price Range Filter -->
                    <div class="mb-4">
                        <label class="form-label fw-bold">Price Range (₹)</label>
                        <div id="priceSlider"></div>
                        <div class="d-flex justify-content-between mt-2">
                            <input type="number" id="priceMin" class="form-control me-2" style="max-width: 120px;"
                                placeholder="Min ₹">
                            <input type="number" id="priceMax" class="form-control" style="max-width: 120px;"
                                placeholder="Max ₹">
                        </div>
                    </div>



                    <!-- Sort By Filter -->
                    <div class="mb-3">
                        <label class="form-label fw-bold">Sort by</label>
                        <select class="form-select" id="sortByFilter">
                            <option value="">Select</option>
                            <option value="low-to-high">Price: Low to High</option>
                            <option value="high-to-low">Price: High to Low</option>
                        </select>
                    </div>

                    <!-- Apply Button -->
                    <div class="text-end">
                        <button class="btn btn-dark btn-sm">Apply Filters</button>
                    </div>
                </div>
            </div>
        </div>



        <div class="container py-4">
            <div class="row justify-content-center">

                <div class="col-6 col-sm-6 col-md-4 col-lg-3 mb-4">
                    <a href="{% url 'product_details' %}" class="text-decoration-none text-dark">
                        <div class="card h-100 shadow-sm border-0">
                            <img src="https://plus.unsplash.com/premium_photo-1724762183134-c17cf5f5bed2?fm=jpg&q=60&w=3000&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxzZWFyY2h8NXx8Z29sZCUyMGpld2VsbGVyeXxlbnwwfHwwfHx8MA%3D%3D"
                                class="card-img-top" alt="Jewellery 3">
                            <div class="card-body">
                                <h5 class="card-title mb-1">Silver Bracelet</h5>
                                <p>
                                    <span class="price text-muted text-decoration-line-through">₹25,000</span>
                                    <span class="price text-danger fw-semibold">₹18,999</span>
                                </p>
                                <div class="text-end mt-4">
                                    <span class="btn btn-warning"><i class="fas fa-cart-plus"></i> Cart</span>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>

                <div class="col-6 col-sm-6 col-md-4 col-lg-3 mb-4">
                    <a href="{% url 'product_details' %}" class="text-decoration-none text-dark">
                        <div class="card h-100 shadow-sm border-0">
                            <img src="https://i.pinimg.com/736x/30/a4/c2/30a4c21d859e2d4f9e5f84d3badeda48.jpg"
                                class="card-img-top" alt="Jewellery 3">
                            <div class="card-body">
                                <h5 class="card-title mb-1">Silver Bracelet</h5>
                                <p>
                                    <span class="price text-muted text-decoration-line-through">₹25,000</span>
                                    <span class="price text-danger fw-semibold">₹18,999</span>
                                </p>
                                <div class="text-end mt-4">
                                    <span class="btn btn-warning"><i class="fas fa-cart-plus"></i> Cart</span>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>

                <div class="col-6 col-sm-6 col-md-4 col-lg-3 mb-4">
                    <a href="{% url 'product_details' %}" class="text-decoration-none text-dark">
                        <div class="card shadow-sm border-0">
                            <img src="https://media.istockphoto.com/id/1277517088/photo/fancy-designer-antique-golden-bracelets-for-woman-fashion.jpg?s=612x612&w=0&k=20&c=n49O0S5rIgzxJX5bU1YjwRHfou0DYPcmsv-N5JAAM14="
                                class="card-img-top" alt="Jewellery">
                            <div class="card-body">
                                <h5 class="card-title mb-1">Elegant Diamond Ring</h5>
                                <p>
                                    <span class="price text-muted text-decoration-line-through">₹25,000</span>
                                    <span class="price text-danger fw-semibold">₹18,999</span>
                                </p>
                                <div class="text-end mt-4">
                                    <span class="btn btn-warning"><i class="fas fa-cart-plus"></i> Cart</span>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>

                <div class="col-6 col-sm-6 col-md-4 col-lg-3 mb-4">
                    <a href="{% url 'product_details' %}" class="text-decoration-none text-dark">
                        <div class="card h-100 shadow-sm border-0">
                            <img src="https://flyingbeads.in/wp-content/uploads/2023/07/20230718_160313-scaled.jpg"
                                class="card-img-top" alt="Jewellery 2">
                            <div class="card-body">
                                <h5 class="card-title mb-1">Gold Pendant Set</h5>
                                <p>
                                    <span class="price text-muted text-decoration-line-through">₹25,000</span>
                                    <span class="price text-danger fw-semibold">₹18,999</span>
                                </p>
                                <div class="text-end mt-4">
                                    <span class="btn btn-warning"><i class="fas fa-cart-plus"></i> Cart</span>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>

                <div class="col-6 col-sm-6 col-md-4 col-lg-3 mb-4">
                    <a href="{% url 'product_details'  %}" class="text-decoration-none text-dark">
                        <div class="card h-100 shadow-sm border-0">
                            <img src="https://plus.unsplash.com/premium_photo-1724762183134-c17cf5f5bed2?fm=jpg&q=60&w=3000&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxzZWFyY2h8NXx8Z29sZCUyMGpld2VsbGVyeXxlbnwwfHwwfHx8MA%3D%3D"
                                class="card-img-top" alt="Jewellery 3">
                            <div class="card-body">
                                <h5 class="card-title mb-1">Silver Bracelet</h5>
                                <p>
                                    <span class="price text-muted text-decoration-line-through">₹25,000</span>
                                    <span class="price text-danger fw-semibold">₹18,999</span>
                                </p>
                                <div class="text-end mt-4">
                                    <span class="btn btn-warning"><i class="fas fa-cart-plus"></i> Cart</span>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>

                <div class="col-6 col-sm-6 col-md-4 col-lg-3 mb-4">
                    <a href="{% url 'product_details'  %}" class="text-decoration-none text-dark">
                        <div class="card h-100 shadow-sm border-0">
                            <img src="https://i.pinimg.com/736x/30/a4/c2/30a4c21d859e2d4f9e5f84d3badeda48.jpg"
                                class="card-img-top" alt="Jewellery 3">
                            <div class="card-body">
                                <h5 class="card-title mb-1">Silver Bracelet</h5>
                                <p>
                                    <span class="price text-muted text-decoration-line-through">₹25,000</span>
                                    <span class="price text-danger fw-semibold">₹18,999</span>
                                </p>
                                <div class="text-end mt-4">
                                    <span class="btn btn-warning"><i class="fas fa-cart-plus"></i> Cart</span>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>

                <div class="col-6 col-sm-6 col-md-4 col-lg-3 mb-4">
                    <a href="{% url 'product_details'  %}" class="text-decoration-none text-dark">
                        <div class="card shadow-sm border-0">
                            <img src="https://media.istockphoto.com/id/1277517088/photo/fancy-designer-antique-golden-bracelets-for-woman-fashion.jpg?s=612x612&w=0&k=20&c=n49O0S5rIgzxJX5bU1YjwRHfou0DYPcmsv-N5JAAM14="
                                class="card-img-top" alt="Jewellery">
                            <div class="card-body">
                                <h5 class="card-title mb-1">Elegant Diamond Ring</h5>
                                <p>
                                    <span class="price text-muted text-decoration-line-through">₹25,000</span>
                                    <span class="price text-danger fw-semibold">₹18,999</span>
                                </p>
                                <div class="text-end mt-4">
                                    <span class="btn btn-warning"><i class="fas fa-cart-plus"></i> Cart</span>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>

                <div class="col-6 col-sm-6 col-md-4 col-lg-3 mb-4">
                    <a href="{% url 'product_details'  %}" class="text-decoration-none text-dark">
                        <div class="card h-100 shadow-sm border-0">
                            <img src="https://flyingbeads.in/wp-content/uploads/2023/07/20230718_160313-scaled.jpg"
                                class="card-img-top" alt="Jewellery 2">
                            <div class="card-body">
                                <h5 class="card-title mb-1">Gold Pendant Set</h5>
                                <p>
                                    <span class="price text-muted text-decoration-line-through">₹25,000</span>
                                    <span class="price text-danger fw-semibold">₹18,999</span>
                                </p>
                                <div class="text-end mt-4">
                                    <span class="btn btn-warning"><i class="fas fa-cart-plus"></i> Cart</span>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>


            </div>
        </div>

        <!-- Add more cards here -->

    </div>

</div>
{%endblock%}