{%extends 'base.html'%}
{%load static%}
{% block title %}18k Gold Plated | Aurora Cadence{% endblock %}
{% block content %}
<link rel="stylesheet" href="{%static 'css/index.css'%}">



<div class="container py-4">
    <h2 class="head-text text-start fw-bold my-5 pt-5">Swarovski</h2>
    <div class="row justify-content-center">

        <div class="container-fluid mb-4">
            <div class="dropdown">
                <button class="btn btn-outline-light dropdown-toggle bg-dark text-white" type="button"
                    data-bs-toggle="dropdown" aria-expanded="false">
                    <i class="fas fa-filter me-2"></i>Filter & Sort
                </button>
                <form class="d-flex my-3" role="search">
                    <input class="form-control me-2 border rounded-2 shadow-sm" type="search"
                        placeholder="Search jewellery..." aria-label="Search">
                    <button class="btn btn-dark" type="submit">
                        <i class="fas fa-search"></i> Search
                    </button>
                </form>

                <div class="dropdown-menu p-4 shadow" style="min-width: 300px;">

                    <!-- Is Available Filter -->
                    <div class="mb-3">
                        <label class="form-label fw-bold">Is Available</label>
                        <select class="form-select" id="availabilityFilter">

                            <option value="yes">Yes</option>
                            <option value="no">No</option>
                        </select>
                    </div>

                    <!-- Price Range Filter -->
                    <div class="mb-4">
                        <label class="form-label fw-bold">Price Range (₹)</label>
                        <div id="priceSlider"></div>
                        <div class="d-flex justify-content-between mt-2">
                            <input type="number" id="priceMin" class="form-control me-2" style="max-width: 120px;"
                                placeholder="Min ₹">
                            <input type="number" id="priceMax" class="form-control" style="max-width: 120px;"
                                placeholder="Max ₹">
                        </div>
                    </div>



                    <!-- Sort By Filter -->
                    <div class="mb-3">
                        <label class="form-label fw-bold">Sort by</label>
                        <select class="form-select" id="sortByFilter">
                            <option value="">Select</option>
                            <option value="low-to-high">Price: Low to High</option>
                            <option value="high-to-low">Price: High to Low</option>
                        </select>
                    </div>

                    <!-- Apply Button -->
                    <div class="text-end">
                        <button class="btn btn-dark btn-sm">Apply Filters</button>
                    </div>
                </div>
            </div>
        </div>



        <div class="container py-4">
            <div class="row">
                <div class="col-6 col-sm-6 col-md-4 col-lg-3 mb-4">
                    <a href="{% url 'product_details' %}" class="text-decoration-none text-dark">
                        <div class="card h-100 shadow-sm border-0 position-relative">
                            <!-- Badge -->
                            <span
                                class="badge bg-warning text-black position-absolute top-0 end-0 m-2 z-1 fas fa-stopwatch">
                                Low Stock
                            </span>

                            <img src="{% static 'image/18k1.jpg' %}" class="card-img-top" alt="Jewellery 3">
                            <div class="card-body">
                                <h5 class="card-title mb-1">Silver Bracelet</h5>
                                <p>
                                    <span class="price text-muted text-decoration-line-through">₹25,000</span>
                                    <span class="price text-danger fw-semibold">₹18,999</span>
                                </p>
                                <div class="text-end mt-4">
                                    <span class="btn btn-warning"><i class="fas fa-cart-plus"></i> Cart</span>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>


                <div class="col-6 col-sm-6 col-md-4 col-lg-3 mb-4">
                    <a href="{% url 'product_details' %}" class="text-decoration-none text-dark">
                        <div class="card h-100 shadow-sm border-0">
                            <img src="{%static 'image/18k12.jpg'%}" class="card-img-top" alt="Jewellery 3">
                            <div class="card-body">
                                <h5 class="card-title mb-1">Silver Bracelet</h5>
                                <p>
                                    <span class="price text-muted text-decoration-line-through">₹25,000</span>
                                    <span class="price text-danger fw-semibold">₹18,999</span>
                                </p>
                                <div class="text-end mt-4">
                                    <span class="btn btn-warning"><i class="fas fa-cart-plus"></i> Cart</span>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>

                <div class="col-6 col-sm-6 col-md-4 col-lg-3 mb-4">
                    <a href="{% url 'product_details' %}" class="text-decoration-none text-dark">
                        <div class="card shadow-sm border-0">
                            <img src="{%static 'image/18k13.jpg'%}" class="card-img-top" alt="Jewellery">
                            <div class="card-body">
                                <h5 class="card-title mb-1">Elegant Ring</h5>
                                <p>
                                    <span class="price text-muted text-decoration-line-through">₹25,000</span>
                                    <span class="price text-danger fw-semibold">₹18,999</span>
                                </p>
                                <div class="text-end mt-4">
                                    <span class="btn btn-warning"><i class="fas fa-cart-plus"></i> Cart</span>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>



                <div class="col-6 col-sm-6 col-md-4 col-lg-3 mb-4">
                    <a href="{% url 'product_details'  %}" class="text-decoration-none text-dark">
                        <div class="card h-100 shadow-sm border-0 position-relative">
                            <!-- Badge -->
                            <span class="badge bg-danger position-absolute top-0 end-0 m-2 z-1 fas fa-times-circle">
                                out of Stock
                            </span>
                            <img src="{%static 'image/18k14.jpg'%}" class="card-img-top" alt="Jewellery 2">
                            <div class="card-body">
                                <h5 class="card-title mb-1">Gold Pendant Set</h5>
                                <p>
                                    <span class="price text-muted text-decoration-line-through">₹25,000</span>
                                    <span class="price text-danger fw-semibold">₹18,999</span>
                                </p>
                                <div class="text-end mt-4">
                                    <span class="btn btn-danger "><i class="fas fa-close"></i> Cart</span>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>

                <div class="col-6 col-sm-6 col-md-4 col-lg-3 mb-4">
                    <a href="{% url 'product_details'  %}" class="text-decoration-none text-dark">
                        <div class="card h-100 shadow-sm border-0">
                            <img src="{%static 'image/swarovoski1.jpg'%}" class="card-img-top" alt="Jewellery 3">
                            <div class="card-body">
                                <h5 class="card-title mb-1">Silver Bracelet</h5>
                                <p>
                                    <span class="price text-muted text-decoration-line-through">₹25,000</span>
                                    <span class="price text-danger fw-semibold">₹18,999</span>
                                </p>
                                <div class="text-end mt-4">
                                    <span class="btn btn-warning"><i class="fas fa-cart-plus"></i> Cart</span>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>

                <div class="col-6 col-sm-6 col-md-4 col-lg-3 mb-4">
                    <a href="{% url 'product_details'  %}" class="text-decoration-none text-dark">
                        <div class="card h-100 shadow-sm border-0">
                            <img src="{%static 'image/swarovoski12.jpg'%}" class="card-img-top" alt="Jewellery 3">
                            <div class="card-body">
                                <h5 class="card-title mb-1">Silver Bracelet</h5>
                                <p>
                                    <span class="price text-muted text-decoration-line-through">₹25,000</span>
                                    <span class="price text-danger fw-semibold">₹18,999</span>
                                </p>
                                <div class="text-end mt-4">
                                    <span class="btn btn-warning"><i class="fas fa-cart-plus"></i> Cart</span>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>

                <div class="col-6 col-sm-6 col-md-4 col-lg-3 mb-4">
                    <a href="{% url 'product_details'  %}" class="text-decoration-none text-dark">
                        <div class="card shadow-sm border-0">
                            <img src="{%static 'image/swarovoski13.jpg'%}" class="card-img-top" alt="Jewellery">
                            <div class="card-body">
                                <h5 class="card-title mb-1">Elegant Ring</h5>
                                <p>
                                    <span class="price text-muted text-decoration-line-through">₹25,000</span>
                                    <span class="price text-danger fw-semibold">₹18,999</span>
                                </p>
                                <div class="text-end mt-4">
                                    <span class="btn btn-warning"><i class="fas fa-cart-plus"></i> Cart</span>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>

                <div class="col-6 col-sm-6 col-md-4 col-lg-3 mb-4">
                    <a href="{% url 'product_details'  %}" class="text-decoration-none text-dark">
                        <div class="card h-100 shadow-sm border-0">
                            <img src="{%static 'image/swarovoski14.jpg'%}" class="card-img-top" alt="Jewellery 2">
                            <div class="card-body">
                                <h5 class="card-title mb-1">Gold Pendant Set</h5>
                                <p>
                                    <span class="price text-muted text-decoration-line-through">₹25,000</span>
                                    <span class="price text-danger fw-semibold">₹18,999</span>
                                </p>
                                <div class="text-end mt-4">
                                    <span class="btn btn-warning"><i class="fas fa-cart-plus"></i> Cart</span>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>


            </div>
        </div>

        <!-- Add more cards here -->

    </div>

</div>
{%endblock%}