{%extends 'base.html'%}
{%load static%}
{% block title %}My Orders | Aurora Cadence{% endblock %}

{% block content %}
<link rel="stylesheet" href="{% static 'css/gallery.css' %}">

<section>
    <div class="head-img">
        <img src="https://static.vecteezy.com/system/resources/previews/022/899/921/large_2x/jewelry-gold-ring-with-precious-stones-ai-generated-free-photo.jpg"
            alt="Aurora Cadence gallery" class="img-fluid">
    </div>
    <div class="overlay">
        <h1 class="text-white mt-5">Gallery</h1>
        <p class="text-white">Explore our exquisite collection of jewelry</p>
    </div>
</section>

<h1 class="my-3 d-flex justify-content-center">Jewelry Showcase</h1>

<div class="container py-4">
    <div class="row">
       
        <div class="image col-12 col-sm-6 col-md-4 col-lg-3 mb-4">
            <img src="https://png.pngtree.com/thumb_back/fh260/background/20241101/pngtree-indian-kundon-jewellery-image_16489015.jpg"
                 alt="Gold Jewellery Banner" class="img-fluid rounded shadow-sm">
        </div>
        <div class="image col-12 col-sm-6 col-md-4 col-lg-3 mb-4">
            <img src="https://t4.ftcdn.net/jpg/09/26/77/81/360_F_926778196_7N9VAEpkpsWDGloPt2wE0GezyxegunGu.jpg"
                 alt="Gold Jewellery Banner" class="img-fluid rounded shadow-sm">
        </div>
        <div class="image col-12 col-sm-6 col-md-4 col-lg-3 mb-4">
            <img src="https://i.pinimg.com/736x/c6/85/b9/c685b9c6a46725cc544ebae9c5fe6c85.jpg"
                 alt="Gold Jewellery Banner" class="img-fluid rounded shadow-sm">
        </div>
        <div class="image col-12 col-sm-6 col-md-4 col-lg-3 mb-4">
            <img src="https://i.pinimg.com/736x/b9/1f/d3/b91fd34edf4adc59fbf48165b451441a.jpg"
                 alt="Gold Jewellery Banner" class="img-fluid rounded shadow-sm">
        </div>
        <div class="image col-12 col-sm-6 col-md-4 col-lg-3 mb-4">
            <img src="https://i.pinimg.com/736x/22/5b/28/225b28b34bf358df731af4284eb2b7df.jpg"
                 alt="Gold Jewellery Banner" class="img-fluid rounded shadow-sm">
        </div>
        <div class="image col-12 col-sm-6 col-md-4 col-lg-3 mb-4">
            <img src="https://i.etsystatic.com/41630938/r/il/56f3c5/5821581725/il_1080xN.5821581725_8wg5.jpg"
                 alt="Gold Jewellery Banner" class="img-fluid rounded shadow-sm">
        </div>
    </div>
</div>

{%endblock%}