<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% block title %}Aurora Cadence{% endblock %}</title>
    <link rel="icon" type="image/x-icon" href="{% static 'images/favicon.ico' %}">


    <!-- bootstrap  -->

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">

    <!-- fond awsome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css" rel="stylesheet">

    <!-- google font  -->
    <link href="https://fonts.googleapis.com/css2?family=Oswald&display=swap" rel="stylesheet">


    <!-- aos animation  -->
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>

    <!-- nouislider  -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/noUiSlider/15.7.0/nouislider.min.css" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/noUiSlider/15.7.0/nouislider.min.js"></script>

    <!-- custom css  -->
    <link rel="stylesheet" href="{% static 'css/base.css' %}">


</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-black fixed-top ecom-navbar position-fixed">
        <div class="container-fluid ecom-navbar-container">

            <div class="d-flex d-lg-none justify-content-between align-items-center w-100">
                <!-- Logo -->
                <a class="navbar-brand ecom-navbar-brand" href="{%url 'home'%}">
                    <img src="{%static 'images/logo.png'%}" alt="Logo" class="ecom-navbar-logo" height="50">
                </a>

                <!-- Cart + Hamburger -->
                <div class="d-flex align-items-center">
                    <!-- 🛒 Cart Icon (Mobile View) with Badge -->
                    <a href="{%url 'cart'%}" class="text-white fs-5 me-3 position-relative">
                        <i class="fas fa-shopping-cart"></i>
                        <span
                            class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger text-white px-2 py-1"
                            style="font-size: 0.7rem;">
                            3
                        </span>
                    </a>

                    <!-- Hamburger Toggle -->
                    <button class="navbar-toggler border-0" type="button" data-bs-toggle="collapse"
                        data-bs-target="#ecomNavbarContent" aria-controls="ecomNavbarContent" aria-expanded="false"
                        aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                </div>
            </div>

            <!-- 🖥️ Desktop View -->
            <a class="navbar-brand ecom-navbar-brand d-none d-lg-block" href="{%url 'home'%}">
                <img src="{%static 'images/logo.png'%}" alt="Logo" class="ecom-navbar-logo" style="margin-left: 101px;"
                    height="50">
            </a>

            <!-- Navbar Content -->
            <div class="collapse navbar-collapse" id="ecomNavbarContent">
                <ul class="navbar-nav ms-auto mb-5 mb-lg-0 ecom-navbar-links">
                    <li class="nav-item me-5">
                        <a class="nav-link" href="{%url 'home'%}">Home</a>
                    </li>
                    <li class="nav-item me-5">
                        <a class="nav-link" href="{%url 'products'%}">Products</a>
                    </li>

                    <!-- 📂 Categories Dropdown -->
                    <li class="nav-item dropdown me-5">
                        <a class="nav-link dropdown-toggle" href="#" id="categoryDropdown" role="button"
                            data-bs-toggle="dropdown" aria-expanded="false">
                            Categories
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="categoryDropdown">
                            <li><a class="dropdown-item text-black" href="{%url 'gold_plated'%}"><i class="fas fa-coins me-2"></i>18k Gold
                                    Plated</a></li>
                            <li><a class="dropdown-item text-black" href="{%url 'swarovski'%}"><i class="fas fa-star me-2"></i>Swarovski
                                    </a></li>
                            <li><a class="dropdown-item text-black" href="{%url 'celebrity'%}"><i
                                        class="fas fa-user-astronaut me-2"></i>Celebrity Collection</a></li>
                            <li><a class="dropdown-item text-black" href="{%url 'necklace'%}"><i
                                        class="fas fa-heart me-2"></i>Necklace</a></li>
                            <li><a class="dropdown-item text-black" href="{%url 'bangles'%}"><i
                                        class="fas fa-circle-notch me-2"></i>Bangles</a></li>
                            <li><a class="dropdown-item text-black" href="{%url 'bracelets'%}"><i
                                        class="fas fa-link me-2"></i>Bracelets</a></li>
                            <li><a class="dropdown-item text-black" href="{%url 'earrings'%}"><i
                                        class="fas fa-ear-listen me-2"></i>Earrings</a></li>
                            <li><a class="dropdown-item text-black" href="{%url 'anklets'%}"><i
                                        class="fas fa-shoe-prints me-2"></i>Anklets</a></li>
                            <li><a class="dropdown-item text-black" href="{%url 'rings'%}"><i class="fas fa-ring me-2"></i>Rings</a>
                            </li>
                        </ul>
                    </li>
                    <li class="nav-item me-5">
                        <a class="nav-link" href="{%url 'my_orders'%}">My orders</a>
                    </li>
                    <li class="nav-item me-5">
                        <a class="nav-link" href="{%url 'about'%}">About Us</a>
                    </li>

                    <li class="nav-item me-5">
                        <a class="nav-link" href="{%url 'gallery'%}">Gallery</a>
                    </li>
                    <li class="nav-item me-5">
                        <a class="nav-link" href="{%url 'contact'%}">Contact</a>
                    </li>


                    <!-- 🛒 Cart Icon (Desktop View) with Badge -->
                    <li class="nav-item d-none d-lg-block ms-3 position-relative">
                        <a class="nav-link fs-5 position-relative" href="{%url 'cart'%}">
                            <i class="fas fa-shopping-cart"></i>
                            <span
                                class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger text-white px-2 py-1"
                                style="font-size: 0.7rem;">
                                3
                            </span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>






    <!-- Loader HTML -->
    <!-- Loader -->
    <div id="loader-wrapper">
        <div class="loader-brand">
            <img src="{%static 'images/logo.png'%}" alt="Logo" class="loader-logo">
            <div class="loader-spinner"></div>
        </div>
    </div>

    <!-- call button -->
    <div class="floating-buttons">

        <a href="https://wa.me/919747878317" target="_blank" class="floating-button whatsapp-button">
            <i class="fab fa-whatsapp"></i>
        </a>
        <a href="tel:+919747878317" class="floating-button call-button">
            <i class="fas fa-phone"></i>
        </a>

    </div>

    {%block content%}

    {%endblock%}

    <footer class="footer">
        <div class="container">
            <div class="footer-row row text-center text-md-start">

                <!-- Logo & Brand -->
                <div class="col-md-6 col-lg-3 mb-4">
                    <img src="{%static 'images/logo.png'%}" alt="Logo" class="footer-logo mb-2">
                </div>

                <!-- Navigation Links -->
                <div class="col-md-6 col-lg-3 mb-4">
                    <h5 class="footer-heading">Quick Links</h5>
                    <ul class="footer-links">
                        <li><a href="">Home</a></li>
                        <li><a href="">About Us</a></li>
                        <li><a href="{%url 'products'%}">Products</a></li>
                        <li><a href="">Gallery</a></li>
                        <li><a href="">My Orders</a></li>
                        <li><a href="">Contact</a></li>
                    </ul>
                </div>



                <!-- Categories -->
                <div class="col-md-6 col-lg-3 mb-4">
                    <h5 class="footer-heading">Categories</h5>
                    <ul class="footer-links">
                        <li><a href="">18K Gold Plated</a></li>
                        <li><a href="">Swarovski Collection </a></li>
                        <li><a href="">Celebrity Collection </a></li>
                        <li><a href="">Necklace</a></li>
                        <li><a href="">Bangles</a></li>
                        <li><a href="">Earrings </a></li>
                        <li><a href="">Anklets</a></li>
                        <li><a href="">Rings</a></li>
                    </ul>
                </div>

                <!-- Social Media -->
                <div class="col-md-6 col-lg-3 mb-4">
                    <h5 class="footer-heading">Follow Us</h5>
                    <div class="footer-social">
                        <a href="#"><i class="fab fa-facebook-f"></i></a>
                        <a href="#"><i class="fab fa-instagram"></i></a>
                    </div>
                </div>

            </div>

            <!-- Copyright -->
            <div class="text-center pt-3 border-top small">
                &copy; 2025 Aurora Cadence. All rights reserved.
            </div>
            <div class="text-center pt-3 border-top mt-3 small">
                <p>Designed and Developed by <a href="" style="color: white; text-decoration: none;">Inspirezest
                        Technologies Pvt Ltd</a></p>
            </div>
        </div>
    </footer>

    <script>
        window.addEventListener("load", function () {
            const loaderWrapper = document.getElementById("loader-wrapper");
            loaderWrapper.style.opacity = "0";
            loaderWrapper.style.transition = "opacity 0.5s ease";
            setTimeout(() => {
                loaderWrapper.style.display = "none";
            }, 500);
        });
    </script>
    <script>
        AOS.init();
    </script>


    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>

</body>

</html>